.header-p{
    color:red; 
    margin-top: 50px;
}
.header-h1{
    font-size:52px; 
    font-weight: bolder;
}

.mystyle{
    border-color: #ffffff; background-color: rgb(239, 250, 246);
}

.mystyle:hover{
    border-color: #ffffff; background-color: blue;
    color:#ffffff;
}

